<form
class="story-form"
 ng-submit="ctrl.createPost()" ng-if="$index === ctrl.toggleCreate">
  <input type="text" placeholder="name" ng-model="ctrl.name">
  <input type="text" placeholder="mm/yy, city, state" ng-model="ctrl.timePeriod">
  <input type="text" placeholder="image" ng-model="ctrl.image">
  <input type="text" placeholder="text" ng-model="ctrl.text">

  <input
  id="create-submit-btn"
  type="submit" value="Post">
  <button
  id="create-cancel-btn"
  ng-click="ctrl.toggleCreate = !$index">Cancel</button>
</form>
